* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  --bg: #bc8f8f;
}
body {
  margin: 20px;
  text-align: center;
  background-color: azure;
}
/* the title and subtitle of the page */
header {
  padding: 20px 30px;
  color: purple;
  font-weight: 500;
}
/* flex container containing all the shapes containers */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
/* shape containers */
.container > div > div {
  margin: 10px;
  width: 240px;
  height: 240px;
  background-color: hsl(40, 97%, 75%);
  box-shadow: 0 0 5px hsl(40, 72%, 59%);
  border: solid 1px hsl(40, 72%, 59%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* shape labels */
p {
  padding: 0 0 20px;
  z-index: 20;
}
/* big A */
.A {
  width: 50px;
  height: 30px;
  background-color: var(--bg);
  z-index: 0;
}
.A::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 130px;
  background-color: var(--bg);
  z-index: 23;
  transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  top: 50px;
  left: 80px;
}
.A::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 130px;
  background-color: var(--bg);
  z-index: 23;
  transform: skewX(15deg);
  top: 50px;
  right: 80px;
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -o-transform: skewX(15deg);
}
/* B */
.B {
  height: 20px;
  width: 30px;
  border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
  box-shadow: 0 0 0px 30px var(--bg);
  position: absolute;
  top: 80px;
}
.B::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 35px;
  border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
  box-shadow: 0 0 0px 30px var(--bg);
  top: 50px;
}
/* C */
.C {
  height: 130px;
  width: 95px;
  border-radius: 45% 20% 20% 45%;
  border: 30px solid var(--bg);
  border-right-width: 0;
  -webkit-border-radius: 45% 20% 20% 45%;
  -moz-border-radius: 45% 20% 20% 45%;
  -ms-border-radius: 45% 20% 20% 45%;
  -o-border-radius: 45% 20% 20% 45%;
}
/* D */
.D {
  width: 95px;
  height: 130px;
  border: solid 30px var(--bg);
  border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
}
/* E */
.E {
  width: 30px;
  height: 130px;
  background-color: var(--bg);
  position: absolute;
  left: 75px;
}
.E::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: var(--bg);
  left: 30px;
}
.E::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: var(--bg);
  left: 30px;
  top: 100px;
}
.E-mid {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 30px;
  background-color: var(--bg);
  left: 30px;
  top: 50px;
}
/* F */
.F {
  width: 30px;
  height: 130px;
  background-color: var(--bg);
  position: absolute;
  left: 75px;
}
.F::before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: var(--bg);
  left: 30px;
}
.F::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 30px;
  background-color: var(--bg);
  left: 30px;
  top: 50px;
}
/* G */
.G {
  position: absolute;
  height: 130px;
  width: 95px;
  border: 30px solid var(--bg);
  border-right-width: 0;
  border-radius: 45% 20% 24% 45%;
  -webkit-border-radius: 45% 20% 24% 45%;
  -moz-border-radius: 45% 20% 24% 45%;
  -ms-border-radius: 45% 20% 24% 45%;
  -o-border-radius: 45% 20% 24% 45%;
}
.G::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--bg);
  right: 0px;
  bottom: 0px;
  border-radius: 0px 5px 0 0;
  -webkit-border-radius: 0px 5px 0 0;
  -moz-border-radius: 0px 5px 0 0;
  -ms-border-radius: 0px 5px 0 0;
  -o-border-radius: 0px 5px 0 0;
}
/* H */
.H {
  background-color: var(--bg);
  width: 35px;
  height: 30px;
  position: absolute;
}
.H::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--bg);
  width: 30px;
  height: 130px;
  left: -30px;
  top: -50px;
}
.H::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--bg);
  width: 30px;
  height: 130px;
  right: -30px;
  top: -50px;
}
/* I */
.I {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
}
/* J */
.J {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  border-bottom-right-radius: 20px;
}
.J::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 35px;
  background: var(--bg);
  bottom: 0;
  left: -30px;
}
.J::after {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 30px;
  background: var(--bg);
  top: 0;
  left: -20px;
}
/* K */
.K {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: 75px;
}
.K::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 60px;
  background: var(--bg);
  top: 0;
  left: 37px;
  transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
}
.K::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 70px;
  background: var(--bg);
  bottom: 0;
  left: 40px;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
/* L */
.L {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
}
.L::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 35px;
  background: var(--bg);
  bottom: 0;
  right: -40px;
}
/* M */
.M1 {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: 50px;
}
.M2 {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  right: 50px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.M::before {
  content: "";
  background-color: var(--bg);
  width: 35px;
  height: 70px;
  position: absolute;
  left: 30px;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
  -webkit-transform: skewX();
}
/* N */
.N {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -webkit-transform: skewX();
}
.N::before {
  content: "";
  position: absolute;
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  left: 35px;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -webkit-transform: skewX();
}
.N::after {
  content: "";
  position: absolute;
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  right: 35px;
  transform: skewX(-20deg);
}
/* O */
.O {
  height: 130px;
  width: 100px;
  background-color: transparent;
  border-radius: 50px;
  box-shadow: inset 0 0 0 30px var(--bg);
}
/* P */
.P {
  position: absolute;
  height: 20px;
  width: 35px;
  border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
  box-shadow: 0 0 0px 30px var(--bg);
  top: 80px;
}
.P::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  left: -35px;
  top: -30px;
}
/* R */
.R {
  position: absolute;
  height: 20px;
  width: 35px;
  border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
  box-shadow: 0 0 0px 30px var(--bg);
  top: 80px;
}
.R::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  left: -35px;
  top: -30px;
}
.R::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--bg);
  width: 35px;
  height:60px;
  left: 10px;
  top: 40px;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
/* Q */
.Q {
  height: 120px;
  width: 100px;
  background-color: transparent;
  border-radius: 50px;
  box-shadow: inset 0 0 0 30px var(--bg);
  position: absolute;
}
.Q::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--bg);
  bottom: -10px;
  right: 0px;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
/* T */
.T {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
}
.T::after {
  content: "";
  display: block;
  position: absolute;
  width: 85px;
  height: 30px;
  background: var(--bg);
  top: 0;
  left: -25px;
}
/* V */
.V {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: 70px;
  transform: skewX(15deg);
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -o-transform: skewX(15deg);
}
.V::before {
  content: '';
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: 55px;
  transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
}
/* W */
.W1 {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: 50px;
  transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  -moz-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  -o-transform: skewX(10deg);
}
.W2{
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  right: 50px;
  transform: skewX(-10deg);
  transform: rotateY(180deg);
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
} 
.W1::before {
  content: '';
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: 35px;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
}
.W2::before {
  content: '';
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: -35px;
  transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
}
/* X */
.X {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: 100px;
  transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
}
.X::before {
  content: '';
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: 0px;
  transform: skewX(-40deg);
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  -ms-transform: skewX(-40deg);
  -o-transform: skewX(-40deg);
}
/* Y */
.Y {
  background-color: var(--bg);
  width: 35px;
  height: 90px;
  position: absolute;
  top: 50px;
  left: 80px;
  transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
}
.Y::before {
  content: '';
  background-color: var(--bg);
  width: 35px;
  height: 80px;
  position: absolute;
  left: 35px;
  transform: skewX(-40deg);
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  -ms-transform: skewX(-40deg);
  -o-transform: skewX(-40deg);
}
.Y::after {
  content: '';
  background-color: var(--bg);
  width: 35px;
  height: 70px;
  position: absolute;
  left: -7px;
  top: 70px;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
}
/* Z */
.Z {
  background-color: var(--bg);
  width: 35px;
  height: 130px;
  position: absolute;
  left: 100px;
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  -moz-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  -o-transform: skewX(-25deg);
}
.Z::before {
  content: '';
  position: absolute;
  background-color: var(--bg);
  width: 80px;
  height: 35px;
  right: 10px;
  transform: skewX(25deg);
  -webkit-transform: skewX(25deg), rotateX(0deg);
  -moz-transform: skewX(25deg), rotateX(0deg);
  -ms-transform: skewX(25deg), rotateX(0deg);
  -o-transform: skewX(25deg), rotateX(0deg);
}
.Z::after {
  content: '';
  position: absolute;
  background-color: var(--bg);
  width: 80px;
  height: 35px;
  left: 10px;
  bottom: 0px;
  transform: skewX(25deg);
  -webkit-transform: skewX(25deg), rotateX(0deg);
  -moz-transform: skewX(25deg), rotateX(0deg);
  -ms-transform: skewX(25deg), rotateX(0deg);
  -o-transform: skewX(25deg), rotateX(0deg);
}